---
import cta from "../assets/images/cta.svg";

import Company from "../components/Company.astro";

import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";

const companiesEntries = await getCollection("experience");

const companiesWithProjects = companiesEntries.map((item) => ({
  name: item.data.companyName,
  order: item.data.order,
  id: item.id,
}));

companiesWithProjects.sort((a, b) => (a.order > b.order ? -1 : 1));
---

<Layout title="Eduard Predescu">
  <div class="flex flex-col gap-10 px-4">
    <div class="flex flex-col gap-8 max-w-prose container mx-auto mb-10">
      <h3 class="text-3xl text-white text-center font-passion">
        Hello, I'm <span class="text-[#FFF500]">Eduard Predescu</span> 👋
      </h3>

      <p class="text-xl text-white text-center font-inconsolata">
        I am a front end/full stack developer based in Bucharest, RO. I have 7
        years of experience working (mostly) with front end technologies, but
        also with back end technologies.
      </p>

      <p class="text-xl text-white text-center font-inconsolata">
        I make web applications, usually with Nuxt/Next.js and whatever
        technology is needed for the required use-case.
      </p>
    </div>
    <div class="container max-w-prose mx-auto flex justify-center gap-4">
      <a
        class="p-4 rounded-full bg-white shadow-lg"
        href="mailto:eduard.florin.predescu@gmail.com"
        target="_blank"
        aria-label="Send me an email"
        data-umami-event="Clicked send email"
      >
        <div class="i-heroicons-envelope text-black w-8 h-8"></div>
      </a>
      <a
        class="p-4 rounded-full bg-white shadow-lg"
        href="https://www.linkedin.com/in/eduardpredescu/"
        target="_blank"
        aria-label="Access my LinkedIn"
        data-umami-event="Clicked LinkedIn"
      >
        <div class="i-logos-linkedin-icon w-8 h-8"></div>
      </a>
      <a
        class="p-4 rounded-full bg-white shadow-lg"
        href="https://github.com/epr3/"
        target="_blank"
        aria-label="View my GitHub"
        data-umami-event="Clicked Github"
      >
        <div class="i-logos-github-icon w-8 h-8"></div>
      </a>
      <a
        class="relative p-4 rounded-full bg-white shadow-lg"
        href="/Eduard_Predescu_Resume.pdf"
        target="_blank"
        aria-label="Get my resume"
        data-umami-event="Dowloaded resume"
      >
        <img
          class="absolute right-[80%] bottom-full max-w-none w-[150px]"
          src={cta.src}
          width={cta.width}
          height={cta.height}
          alt="Stylized call to action"
        />
        <div class="i-heroicons-document-solid text-black w-8 h-8"></div>
      </a>
    </div>

    <div class="container max-w-prose mx-auto flex flex-col">
      <h2 class="text-white text-2xl text-center font-bold">Experience</h2>
      <div class="flex flex-col gap-10 divide-y-2 divide-[#FFF500]">
        {
          companiesWithProjects.map((item) => (
            <Company name={item.name} id={item.id} />
          ))
        }
      </div>
    </div>
  </div>
</Layout>