---
import Company from "../components/Company.astro";

import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";

const volunteeringEntries = await getCollection("volunteering");
const educationEntries = await getCollection("education");
const companiesEntries = await getCollection("experience");
const awardsEntries = await getCollection("awards");

const renderedAwardsEntries = await Promise.all(
  awardsEntries.map(async (item) => ({
    title: item.data.title,
    render: await item.render(),
  }))
);
const renderedVolunteeringEntries = await Promise.all(
  volunteeringEntries.map(async (item) => ({
    orgName: item.data.orgName,
    startDate: item.data.startDate,
    logo: item.data.logo,
    endDate: item.data.endDate,
    render: await item.render(),
  }))
);

const companiesWithProjects = companiesEntries.map((item) => ({
  name: item.data.companyName,
  startDate: item.data.startDate,
  endDate: item.data.endDate,
  id: item.id,
}));
---

<Layout title="Eduard Predescu">
  <a href="/Eduard_Predescu_Resume.pdf" target="_blank">Resume</a>
  {
    companiesWithProjects.map((item) => (
      <Company
        startDate={item.startDate}
        endDate={item.endDate}
        name={item.name}
        id={item.id}
      />
    ))
  }
  <div class="prose max-w-none">
    {
      renderedVolunteeringEntries.map((item) => (
        <>
          <>
            <h5>{item.orgName}</h5>
            <item.render.Content />
          </>
        </>
      ))
    }
  </div>
  <div class="prose max-w-none">
    {
      renderedAwardsEntries.map((item) => (
        <>
          <>
            <h5>{item.title}</h5>
            <item.render.Content />
          </>
        </>
      ))
    }
  </div>
</Layout>
